@import '../../../../styles/variables.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}

.form {  
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px 12px;
  border: 1px solid $light-grey;
  border-radius: $border-radius-large;
}