@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: $font-size-medium;
  font-family: $font-family-basic;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: $font-size-large;
  font-weight: 700;
}

section {
  width: 100%;
}

.fa-solid {
  font-size: 30px;
}

a.active {
  font-weight: 600;
}
