@import '../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  width: max-content;
  border-radius: $border-radius-small;
  
  color: white;
  cursor: pointer;

  &_blue {
    background-color: $blue;
  }

  &_green {
    background-color: $green;
  }

  &_disabled {
    background-color: $disabled;
    pointer-events: none;
  }
}
